@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css or index.css */
main::-webkit-scrollbar {
  width: 8px;
}

main {
  scrollbar-width: thin;        /* Firefox */
  scrollbar-color: #a0aec0 transparent;
}

main {
  -ms-overflow-style: none;     /* IE 10+ */
  scrollbar-gutter: stable;     /* Keeps layout stable */
}
